@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
 }

html, body {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: 
#141414;
color:
#fff;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 10px;
line-height: 1.2;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}


/* Header */


.header {
  width: 100%;
  padding: 0 4%;
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  z-index: 1;
  top: 0;
  left: 0;
 position: relative;
}

.header.pin-header {
  position: fixed;
  top: 0;
  background-color: black;
}



.logo {
  display:flex;
  align-items: center;
  margin-right: 5px;
}

.logo img {
  object-fit: contain;
  height: 25px;
}


.header-menu ul {
  margin:0;
  padding:0;
  list-style-type: none;
  display:flex;
  align-items: center;
}

.header-menu ul li {
  margin-left: 18px;
}

.header-menu ul li a {
  text-decoration:none;
  color:inherit;
  cursor:pointer;
}

.header-menu ul li a.active {
  font-weight: bold;
}

.header-options {
  display:flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

}

.header-options div {
  cursor: pointer;
}

.icon {
  padding: 5px;
}

.header-options div:not(:last-child) {
  margin-right: 15px;
}

.header-options div svg {
  font-size: 1.2em;
}

.account-menu {
  position: relative;
}

.account-dropdown-menu {
  width: 100%;
  
  display:flex;
  align-items: center;
}

.caret {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color:#fff transparent transparent transparent;
}

.presentation {
  display:flex;
  align-items: center;
}


