@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: 
#141414;
color:
#fff;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 10px;
line-height: 1.2;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}


/* Header */

header {
  font-size: 14px;
  padding: 0 4%;
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 1.2rem;
  background-color: black;
}

.logo {
  margin-right: 5px;
}

.logo img {
  object-fit: contain;
  height: 26px;
}

.header-menu {
}

.header-menu ul {
  margin:0;
  padding:0;
  list-style-type: none;
  display:flex;
  align-items: center;
}

.header-menu ul li {
  margin-left: 18px;
}

.header-menu ul li a {
  text-decoration:none;
  cursor:pointer;
}

.header-menu ul li a.active {
  font-weight: bold;
}

.header-options {
  display:flex;
}
