# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Clean Install dependencies, Build and deploy
        run: |
          npm install
          rm -rf build
          npm run predeploy
          npm run deploy
        with:
           ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      # - name: Deploy
      #   uses: JamesIves/github-pages-deploy-action@releases/v3
      #   with:
      #     ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      #     BRANCH: gh-pages
      #     FOLDER: 'build'

      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
